body,html{
  margin: 0;
  padding: 0;
  height: 100%;
}

h4{
  text-align: center;
}

/*nav bar*/
.navigatorTop{
  height: auto;
  top:0;
  margin-top: 0px;
  text-align: center;
  position:fixed;
  z-index:1;
  width:100%;
}

.bgColor{
  padding-top: 2px;
  background-color: white;
}

#logoTitle{
  font-family: 'Berkshire Swash', cursive;
  color:black;
}

.logoBrand a {
  text-decoration: none;
}

ul.nav {     
  list-style-type: none;     
  padding-left: 0;     
  margin-left: 0;     
  padding-top: 10px;         
  margin-bottom: 10px;
  padding-bottom: 15px; 
  text-align: center;
}

ul.nav a {  
  text-decoration: none;   
  border-bottom: 10px;  
  padding: 15px 15px 15px 15px;      
  color: #333; 
}

@media (max-width: 768px){
  ul.nav a {  
  text-decoration: none;   
  border-bottom: 5px;  
  padding: 5px 5px 5px 5px;      
  color: #333; 
  font-size: 12px;
  }
}

ul.nav li{
  display:inline;
}

.power-container{
  background-color: rgba(255, 255, 255, 0.9)
  display:block;
  top:-28px;
  margin-top: 0px;
  position:relative;
  z-index:0;
  text-align: center;
}

.navbar-solid {
  top: -65px;
}

/*content*/
#cd-bg-1{
  background-image: url("../images/Background/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  text-align: center;
  height: 100%;
}

#firstSlidesecond {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  font-color:white;
}

#firstSlidefirst {
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  font-color:white;
}

#firstSlidefirst, #firstSlidesecond {
  position: relative;
  top: 300px;
  color: rgba(0,0,0,0.6);
  font-weight: bold;
  background: rgba(225,225,225,0.5);
}

#cd-bg-2{
  background-image: url("../images/Background/bg2.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center left;
  text-align: center;
  height: 100%;
}

.secondSlidesecond {
  font-family: 'Droid Serif', serif;
  font-size: 1.4em;
  font-color:white;
}

.secondSlidefirst {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-color:white;
}

.verticalcover{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 20px auto;
}

#cd-bg-3{
  background-image: url("../images/Background/bg3a.jpg");
  background-repeat: repeat;
  background-position: center left;
  text-align: center;
  height: 100%;
}

@media (max-width: 450px){
  #cd-bg-3{
    height: 1300px;
  }
}
/*--------subscribe menu-----------*/

.wrapSubscribe {
  overflow: hidden;
  margin: 30px;
}
.boxSubscribe {
  float: left; 
  position: relative;
  width: 20%;
  padding-bottom: 20%; 
}
.boxInnerSubscribe {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
}
.boxInnerSubscribe img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
}
.boxInnerSubscribe .titleBoxSubscribe {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -160px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.boxInnerSubscribe:hover .titleBoxSubscribe, body.touch .boxInnerSubscribe.touchFocus .titleBoxSubscribe {
  margin-bottom: 10px;
}

@media only screen and (max-width : 450px) {
  .boxSubscribe {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media only screen and (max-width : 650px) and (min-width : 451px){
  .boxSubscribe {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (min-width : 651px) {
  .boxSubscribe {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}

/*-------subscribe Button---------*/
.btn-add:hover span {display:none}
.btn-add:hover:before {content:"ADD TO CART"}
.btn-add{
  margin-bottom:5px;
}

/*-------end of subscribe Button---------*/

/*--------end of subscribe menu-----------*/


/*----------How it works--------------*/

#cd-bg-6{
  background-image: url("../images/Background/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  height: 100%;
}

@media (max-width: 359px) and (min-width : 280px){
  #cd-bg-6{
    height: 1200px;
  }
}

@media (max-width: 650px) and (min-width : 360px){
  #cd-bg-6{
    height: 1300px;
  }
}

.wrap {
  overflow: hidden;
  margin: 30px;
}
.box {
  float: left; 
  position: relative;
  width: 20%;
  padding-bottom: 20%; 
}
.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
}
.boxInner img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
}
.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}

@media only screen and (max-width : 450px) {
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media only screen and (max-width : 650px) and (min-width : 451px){
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (min-width : 651px) {
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}

/*----------End of How it works-----------*/

/*----------Past HapiBox--------------*/

#cd-bg-7{
  background-image: url("../images/Background/bg8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  height: 100%;
}


/*----------End of Past HapiBox--------------*/

#cd-bg-4{
  background-image: url("../images/Background/bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  height: 100%;
}

.btn-block{
  display:block;
  width:100%;
}

/*---------Login area----------*/

#cd-bg-5{
  background-image: url("../images/Background/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  height: 100%;
}

#shoppingcartCover{
  background-color:white;
}

ul.nav.nav-tabs li{
  display:inline;
}

#shoppingTotal{
  font-weight: bold;
  font-size: 20px;
}

.orderHead {
  background: white;
  font-weight: bold;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #bebebe;
}

@media (max-width: 650px) and (min-width : 300px){
  .orderHead{
    font-weight: normal;
  }
}

.orderSummary {
  background: white;
  word-wrap: break-word;
}



