body,html{
  margin: 0;
  padding: 0;
  height: 100%;
}

/*nav bar*/
.navigatorTop{
  height: auto;
  top:0;
  margin-top: 0px;
  text-align: center;
  position:fixed;
  z-index:1;
  background-color: white;
  width:100%;
}

#logoTitle{
  font-family: 'Berkshire Swash', cursive;
  color:black;
}

.logoBrand a {
  text-decoration: none;
}

ul.nav {     
  list-style-type: none;     
  padding-left: 0;     
  margin-left: 0;     
  padding-top: 10px;         
  margin-bottom: 10px;
}

ul.nav a {  
  text-decoration: none;   
  border-bottom: 5px;  
  padding: 15px 15px 15px 15px;      
  color: #333; 
}

@media (max-width: 768px){
  ul.nav a {  
  text-decoration: none;   
  border-bottom: 5px;  
  padding: 5px 5px 5px 5px;      
  color: #333; 
  font-size: 12px;
  }
}

ul.nav li{
  display:inline;
}

/*---come back later*/
.power-container{
  background-color:none;
  display:block;
}

@media (max-width: 768px){
  .power-container{
    display:none;
  }
}

/*content*/
#cd-bg-1{
  background-image: url("../images/Background/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  text-align: center;
  height: 100%;
}

#firstSlidesecond {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  font-color:white;
}

#firstSlidefirst {
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  font-color:white;
}

#firstSlidefirst, #firstSlidesecond {
  position: relative;
  top: 300px;
  color: rgba(0,0,0,0.6);
  font-weight: bold;
  background: rgba(225,225,225,0.5);
  /*margin:- auto;
  width: 60%;
  text-align:center;*/
}

#cd-bg-2{
  background-image: url("../images/Background/bg2.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center left;
  text-align: center;
  height: 100%;
}

.secondSlidesecond {
  font-family: 'Droid Serif', serif;
  font-size: 1.4em;
  font-color:white;
}

.secondSlidefirst {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-color:white;
}

.verticalcover{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 20px auto;
}

#cd-bg-3{
  background-image: url("../images/Background/bg3a.jpg");
  background-repeat: repeat;
  background-position: center left;
  text-align: center;
  height: 100%;
}

@media (max-width: 768px){
  #cd-bg-3{
  background-image: url("../images/Background/bg3a.jpg");
  background-repeat: repeat;
  background-position: center left;
  text-align: center;
  height:1200px;
  } 
}

}
.subscribeHapi{
  padding:0;
  margin:0;
  border:0;
}

/*.img-zoom img{
margin:auto;
height:100px;
width:100px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}
.img-zoom img:hover{
-moz-transform:scale(2); 
-webkit-transform:scale(2);
-o-transform:scale(2);
}*/

h4{
  text-align: center;
}
/*--------subscribe circle-----------*/
ul {
  margin: auto auto; /*used to be 30*/
  text-align: center;
}

li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 70px; /*used to be 100*/
  height: 70px;/*used to be 100*/
}

@-moz-keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

.round {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 15px;  /*used to be 30*/  
  text-decoration: none;    
  text-align: center;
  font-size: 20px;    /*used to be 25*/  
  text-shadow: 0 1px 0 rgba(255,255,255,.7);
  letter-spacing: -.065em;
  font-family: "Hammersmith One", sans-serif;   
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  box-shadow: 2px 2px 7px rgba(0,0,0,.2);
  border-radius: 300px;
  z-index: 0;
  border-width: 2px; /*used to be 4*/  
  border-style: solid;
}

.round:hover {
  width: 150%;
  height: 150%;
  left: -25%;
  top: -25%;
  font-size: 0px; /*used to be 33*/  
  padding-top: 0px; /*used to be 38*/  
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  z-index: 2;
  border-size: 10px;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

a.red {
  background-color: rgba(239,57,50,1);
  color: rgba(133,32,28,1);
  border-color: rgba(133,32,28,.2);
}

a.red:hover {
  color: rgba(239,57,50,1);
}

a.green {
  background-color: rgba(1,151,171,1);
  color: rgba(0,63,71,1);
  border-color: rgba(0,63,71,.2);
}

a.green:hover {
  color: rgba(1,151,171,1);
}

a.yellow {
  background-color: rgba(252,227,1,1);
  color: rgba(153,38,0,1);
  border-color: rgba(153,38,0,.2);
}

a.yellow:hover {
  color: rgba(252,227,1,1);
}

.round span.round {
  display: block;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 1px;
  border: none;
  padding: 40% 20% 0 20%;
  color: #fff;
}

.round span:hover {
  opacity: .85;
  font-size: 16px;
  -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  text-shadow: 0 1px 1px rgba(0,0,0,.5);  
}

.green span {
  background: rgba(0,63,71,.7);   
}

.red span {
  background: rgba(133,32,28,.7);   
}

.yellow span {
  background: rgba(161,145,0,.7); 

}

/*----------End of subscribe circle------*/
#cd-bg-4{
  background-image: url("../images/Background/bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  height: 100%;
  /*opacity:0.5;*/
}

.btn-block{
  display:block;
  width:100%;
}

/*---------Login area----------*/

#cd-bg-5{
  background-image: url("../images/Background/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  height: 100%;
}


#shoppingcartCover{
  background-color:white;
}

ul.nav.nav-tabs li{
  display:inline;
}

#shoppingTotal{
  font-weight: bold;
  font-size: 20px;
}
